
input[type="text"]
{
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: red;
}

option,select
{
    
    background-color:red;
}

textarea
{
    background-color:red;
}
form
{
    width:300px;
    background-color:pink;
   border-style:  solid;
   border-color:black; 
}

label
 { 
    color:blue;
}

input[type="submit"]
{
    border:1px solid black;
    color:green;
}

input[type="reset"]
{
    border:1px solid black;
    color:green;
}



